{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <title>About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      ‘'What's Your Roll ?' is an initiative to reduce the extra stress and
      effort of the teachers while taking attendance of the students every
      single day. We, a team of four, are trying to make it easier for the
      teachers to take attendance by using a well practiced technology. We are
      trying to introduce some more ventures into this project to make the
      teachers and the students get everything in the same platform. The team
      consists of four individuals, namely -
      <b
        >Aditya Mondal, Rounak Roy Chowdhury, Subrajyoti Saha, Jyotishko Das
      </b>
      .
    </p>
  </body>
</html>
